{{!-- Ability Scores --}}
<div class="ability-scores panel">
    <div class="ability-score">
        <div class="score"><h3>Score</h3></div>
        <div class="temp"><h3>Temp</h3></div>
        <div class="mod"><h3>Mod</h3></div>
    </div>
    {{#each actor.system.attributes as |attribute id|}}
        {{#unless attribute.skip}}
            <div class="ability-score draggable" data-label="{{attribute.label}}"
                 data-variable="@{{attribute.label}}ROLL" data-type="ability">
                <div class="name rollable input" title="Roll 1d20 + {{attribute.roll}}"
                     data-label="{{attribute.label}}" data-roll="1d20 + {{attribute.roll}}"><h3>{{attribute.label}}</h3>
                </div>
                <div class="score input"><input class="plain tiny" name="system.attributes.{{id}}.manual" type="number"
                                                value="{{attribute.total}}" placeholder="0"/></div>
                <div class="temp input"><input class="plain tiny" name="system.attributes.{{id}}.customBonus"
                                               type="number"
                                               value="{{attribute.customBonus}}" placeholder="0"/></div>
                <div class="mod input"><span class="center">{{attribute.roll}}</span></div>
            </div>
        {{/unless}}
    {{/each}}
</div>
