<div class="target dice-formula">
    <div>{{target.name}} ({{target.defenseType}} {{target.defense}})</div>
    {{#each target.conditionalDefenses as |i defense|}}
        <div>{{defense}}</div>
    {{/each}}
    <div class="flex flex-row flex-tight" title="applies range modifier"><div>Range Adjusted Roll: </div><div class="{{target.highlight}}">{{target.rangeDistance}} ({{target.adjustedAttackRoll}})</div></div>
    <div class="flex flex-row flex-tight"><div>Result: </div><div class="{{target.highlight}}">{{target.result}}</div></div>
</div>