{{!-- Ability Scores --}}
<div class="ability-scores panel">
    <div class="flex-row">
        <div class="medium"></div>
        <div class="small small-header">Score</div>
        <div class="small small-header">Temp</div>
        <div class="small small-header">Mod</div>
    </div>
    {{#each actor.system.attributes as |attribute id|}}
        {{#unless attribute.skip}}
            <div class="draggable flex-row" data-label="{{attribute.label}}" data-variable="@{{attribute.label}}ROLL" data-type="ability">
                <div class="rollable medium labeled-input">
                    <input class="input rollable" type="text" value="{{attribute.label}}"
                           placeholder="" disabled title="Roll 1d20 + {{attribute.roll}}" data-label="{{attribute.label}}" data-roll="1d20 + {{attribute.roll}}"/>
                </div>
                <div class="small labeled-input">
                    <input class="input" type="text" value="{{attribute.total}}"
                           placeholder=""  name="system.attributes.{{id}}.manual"
                           {{#unlessEquals ../actor.system.finalAttributeGenerationType "Manual"}}disabled{{/unlessEquals}}/>
                </div>
                <div class="small labeled-input">
                    <input class="input" type="text" value="{{attribute.customBonus}}"
                           placeholder="" disabled/>
                </div>
                <div class="small labeled-input">
                    <input class="input" type="text" value="{{attribute.roll}}"
                           placeholder="" disabled/>
                </div>
            </div>
        {{/unless}}
    {{/each}}
    {{#unless actor.system.lockAttributes}}
        <div class="flex flex-row">
            {{#ifEquals actor.system.finalAttributeGenerationType "Roll"}}
                <div class="rollAbilities" title="Roll Abilities"><a><i class="fas fa-edit"></i></a></div>
            {{/ifEquals}}
            {{#ifEquals actor.system.finalAttributeGenerationType "Standard Array"}}
                <div class="assignStandardArray" title="Assign Ability Scores"><a><i class="fas fa-edit"></i></a></div>
            {{/ifEquals}}
            {{#ifEquals actor.system.finalAttributeGenerationType "Point Buy"}}
                <div class="assignAttributePoints" title="Assign Ability Points"><a><i class="fas fa-edit"></i></a>
                </div>
            {{/ifEquals}}
            {{#unlessEquals actor.system.finalAttributeGenerationType "Manual"}}
                {{#each actor.system.levelAttributeBonus as |bonus key|}}
                    {{#if bonus}}
                        <div class="leveledAttributeBonus  {{#if bonus.warn}}warning{{/if}}" data-level="{{key}}"
                             title="Select Level Up Attribute Bonus for Level {{key}}"><a><i
                                class="fas fa-exclamation"></i></a></div>
                    {{/if}}
                {{/each}}
            {{/unlessEquals}}
        </div>
    {{/unless}}
</div>
