{{!-- Ability Scores --}}
<div class="ability-scores panel">
    <div class="ability-score">
        <div class="score"><h3>Score</h3></div>
        <div class="temp"><h3>Temp</h3></div>
        <div class="mod"><h3>Mod</h3></div>
    </div>
    {{#each data.data.attributes as |attribute id|}}
        {{#unless attribute.skip}}
            <div class="ability-score draggable" data-label="{{attribute.label}}" data-variable="@{{attribute.label}}ROLL" data-type="ability">
                <div class="name rollable input" title="Roll 1d20 + {{attribute.roll}}"
                     data-label="{{attribute.label}}" data-roll="1d20 + {{attribute.roll}}"><h3>{{attribute.label}}</h3></div>
                <div class="score input"><span class="center" title="">{{attribute.total}}</span></div>
                <div class="temp input"><span class="center text-box direct tiny min-width-15"
                                              name="data.attributes.{{id}}.customBonus"
                                              data-dtype="Number">{{attribute.customBonus}}</span></div>
                <div class="mod input"><span class="center">{{attribute.roll}}</span></div>
            </div>
        {{/unless}}
    {{/each}}
    {{#unless data.data.lockAttributes}}
        <div class="flex flex-row">
            {{#unless data.data.disableAttributeGenerationChange}}
                <div class="generationType" title="Select Ability Generation Type"><a><i
                        class="fas fa-cog{{#unless data.data.attributeGenerationType}} warning{{/unless}}"></i></a></div>
            {{/unless}}
            {{#ifEquals data.data.attributeGenerationType "Roll"}}
                <div class="rollAbilities" title="Roll Abilities"><a><i class="fas fa-edit"></i></a></div>
            {{/ifEquals}}
            {{#ifEquals data.data.attributeGenerationType "Standard Array"}}
                <div class="assignStandardArray" title="Assign Ability Scores"><a><i class="fas fa-edit"></i></a></div>
            {{/ifEquals}}
            {{#ifEquals data.data.attributeGenerationType "Point Buy"}}
                <div class="assignAttributePoints" title="Assign Ability Points"><a><i class="fas fa-edit"></i></a></div>
            {{/ifEquals}}
            {{#ifEquals data.data.attributeGenerationType "Manual"}}
                <div class="assignManual"  title="Assign Ability Scores"><a><i class="fas fa-edit"></i></a></div>
            {{/ifEquals}}
            {{#each data.data.levelAttributeBonus as |bonus key|}}
                {{#if bonus}}
                    <div class="leveledAttributeBonus  {{#if bonus.warn}}warning{{/if}}" data-level="{{key}}" title="Select Level Up Attribute Bonus for Level {{key}}"><a><i class="fas fa-exclamation"></i></a></div>
                {{/if}}
            {{/each}}
        </div>
    {{/unless}}
</div>
