{{!-- Ability Scores --}}
<div class="ability-scores panel">
    <div class="flex-row">
        <div class="medium"></div>
        {{#ifEquals actor.system.finalAttributeGenerationType "Semi-Manual"}}<div class="small small-header">Base Score</div>{{/ifEquals}}
        <div class="small small-header">Score</div>
        <div class="small small-header">Temp</div>
        <div class="small small-header">Mod</div>
    </div>
    {{#each actor.system.attributes as |attribute id|}}
        {{#unless attribute.skip}}
            <div class="flex-row">
                <div class="rollable medium labeled-input draggable" data-label="{{attribute.label}}" data-variable="@{{attribute.label}}ROLL" data-type="ability">
                    <input class="input rollable" type="text" value="{{attribute.label}}"
                           placeholder="" disabled title="Roll 1d20 + {{attribute.roll}}" data-label="{{attribute.label}}" data-roll="1d20 + {{attribute.roll}}"/>
                </div>
            {{#ifEquals ../actor.system.finalAttributeGenerationType "Semi-Manual"}}
                <div class="small labeled-input">
                    <input class="input" type="number" value="{{attribute.manual}}"
                           placeholder="0"  name="system.attributes.{{id}}.manual"/>
                </div>
            {{/ifEquals}}
                <div class="small labeled-input">
                    <input class="input" type="number" value="{{attribute.total}}"
                           placeholder="0"{{#ifEquals ../actor.system.finalAttributeGenerationType "Manual"}} name="system.attributes.{{id}}.manual" {{/ifEquals}}
                           {{#unlessEquals ../actor.system.finalAttributeGenerationType "Manual"}} disabled{{/unlessEquals}}/>
                </div>
                <div class="small labeled-input">
                    <input class="input" type="number" value="{{attribute.customBonus}}"
                           placeholder="" name="system.attributes.{{id}}.customBonus"/>
                </div>
                <div class="small labeled-input">
                    <input class="input" type="text" value="{{attribute.roll}}"
                           placeholder="" disabled/>
                </div>
            </div>
        {{/unless}}
    {{/each}}
    {{#unless actor.system.lockAttributes}}
        <div class="flex flex-row">
            {{#ifEquals actor.system.finalAttributeGenerationType "Roll"}}
                <div class="rollAbilities" title="Roll Abilities"><a><i class="fas fa-edit"></i></a></div>
            {{/ifEquals}}
            {{#ifEquals actor.system.finalAttributeGenerationType "Standard Array"}}
                <div class="assignStandardArray" title="Assign Ability Scores"><a><i class="fas fa-edit"></i></a></div>
            {{/ifEquals}}
            {{#ifEquals actor.system.finalAttributeGenerationType "Point Buy"}}
                <div class="assignAttributePoints" title="Assign Ability Points"><a><i class="fas fa-edit"></i></a>
                </div>
            {{/ifEquals}}
            {{#unlessEquals actor.system.finalAttributeGenerationType "Manual"}}
                {{#if actor.availableItems.[Ability Score Level Bonus]}}
                    <button type="button" class="flex-0 editor" style="flex-basis:180px" data-action="level-up-bonus" title="Select Level Up Attribute Bonus for Level">Level Up Bonus</button>
                {{/if}}
            {{/unlessEquals}}
        </div>
    {{/unless}}
</div>
