
<!--TODO find a spot for the portrait -->
<div class="summary-header swse">
    <div class="name"><label for="name">Name</label><h2><input class="plain" name="name" type="text" value="{{actor.data.name}}"
                                                           placeholder=""/></h2></div>
    <div class="player"><label for="player">Player</label><h2><input class="plain" name="data.player" type="text"
                                                                     value="{{actor.data.data.player}}" placeholder=""/></h2></div>
    <div class="classes"><label for="classes">Classes</label><div class="plain input static">{{actor.data.classSummary}}</div></div>
    <div class="level"><label for="level">Level</label><div class="plain input static">{{actor.data.levelSummary}}</div></div>

    <div class="species">

        <label for="species">Species</label>
        <div class="flex item" id="view-species" data-item-id="{{actor.species.id}}">

            {{#if actor.species}}
                <div class="plain input flex-grow rollable" data-action="view" data-item-id="{{actor.species.id}}">{{actor.species.name}}</div>
                <div class="species-controls flex-col">
                    <a class="species-control edit" title="view item"><i
                            class="fas fa-eye"></i></a>
                </div>
                <div class="species-controls flex-col">
                    <a class="species-control delete" title="delete item"><i
                            class="fas fa-trash"></i></a>
                </div>
            {{/if}}
            {{#unless actor.species}}
                <div class="plain input flex-grow rollable" data-action="compendium" data-action-target="swse.species">Add Species</div>
                <div class="species-controls flex-col">
                    <a data-action="compendium" data-action-target="swse.species"
                       title="{{localize "Open Compendium"}}"><i class="fas fa-folder-plus"></i></a>
                </div>
            {{/unless}}
        </div>

    </div>
    <div class="sex">
        <label for="gender">Gender</label>
        <div id="selectGender">
            <div class="plain input rollable">{{#if
                    actor.data.data.gender}}{{actor.data.data.gender}}{{/if}}{{#unless
                    actor.data.data.gender}}{{#if
                    actor.data.data.sex}}{{actor.data.data.sex}}{{/if}}{{#unless actor.data.data.sex}}
                Select Gender{{/unless}}{{/unless}}</div>
        </div>

    </div>
    <div class="age">
        <label for="age">Age</label>
        <div id="selectAge">
            <div class="plain input rollable">{{#if
                    actor.data.data.age}}{{actor.data.data.age}} years{{/if}}{{#unless actor.data.data.age}}
                Select Age{{/unless}}</div>
        </div>
    </div>
    <div class="height"><label for="height">Height</label><h2><input class="plain" name="data.height" type="text"
                                                                     value="{{actor.data.data.height}}" placeholder="Height"/></h2></div>
    <div class="weight"><label for="weight">Weight</label><h2><input class="plain" name="data.weight" type="text"
                                                                 value="{{actor.data.data.weight}}" placeholder="Weight"/></h2></div>
    <div class="destiny"><label for="destiny">Destiny</label><h2><input class="plain" name="data.destiny" type="text"
                                                                    value="{{actor.data.data.destiny}}" placeholder="Destiny"/></h2>
    </div>
    <div class="experience"><label for="experience">XP</label><h2><input class="plain" name="data.experience" type="text"
                                                                     value="{{actor.data.data.experience}}" placeholder="0"/></h2>
    </div>
</div>