{{!-- Defense Block --}}
<div class="defense flex-row">
    <div class="large labeled-input">
        <input class="input" type="text" value="{{toTitleCase def.name}}"
               placeholder="" disabled/>
        {{#if def.defenseModifiers}}
            <div class="toggle control" data-toggle-id="{{def.name}}-defense-modifier-toggle">
                <a>
                    <i class="fas {{#if (lookup toggles (concat def.name "-defense-modifier-toggle"))}}fa-minus{{else}}fa-plus{{/if}}"></i>
                </a>
            </div>
        {{/if}}
    </div>


    <div class="large labeled-input numeric-override" data-override="{{def.override}}" data-override-name="{{def.name}}"
         data-override-key="system.defense.{{toLowercase def.name}}.override">
        <input class="input" type="text" value="{{def.total}}"
               placeholder="" name="system.attributes.{{id}}.manual" disabled/>
    </div>


    <div class="large labeled-input">
        <input class="input" type="text" value="10"
               placeholder="" disabled/>
    </div>
    <div class="large labeled-input">
        <input class="input" type="text" value="{{def.armorBonus}}"
               placeholder="" disabled/>
    </div>
    <div class="large labeled-input">
        <input class="input" type="text" value="{{def.abilityBonus}}"
               placeholder="" disabled/>
    </div>
    <div class="large labeled-input">
        <input class="input" type="text" value="{{def.classBonus}}"
               placeholder="" disabled/>
    </div>
    <div class="large labeled-input" title="{{def.miscBonusTip}}">
        <input class="input" type="text" value="{{def.miscBonus}}"
               placeholder="" disabled/>
    </div>
</div>
<div style="display: {{#if (lookup toggles (concat def.name "-defense-modifier-toggle"))}}grid{{else}}none{{/if}}">
    {{#if def.defenseModifiers}}
        {{#each def.defenseModifiers as |defenseModifier id|}}
            {{> 'systems/swse/templates/actor/parts/actor-defense-block.hbs'def=defenseModifier}}
        {{/each}}
    {{/if}}
</div>