{{!-- Ability Scores --}}
<div class="ability-score">
    <table class="fixed">
        <thead>
        <tr>
            <th>Ability</th>
            <th>Total</th>
            <th>Modifier</th>
            <th>Base</th>
            <th>Bonus</th>
            <th>Temporary Bonus</th>
        </tr>
        </thead>
        <tbody>
        {{#each data.abilities as |ability id|}}
            {{#unless ability.skip}}
                <tr>
                    <th><a class="rollable" title="Re-roll 1d20 + {{ability.mod}}" data-roll="1d20 + {{ability.mod}}"><i class="fas fa-dice"></i>
                    </a>{{id}}</th>
                    <td><span class="center" name="data.abilities.{{id}}.value" data-dtype="Number">{{ability.total}}</span></td>
                    <td><span class="center">{{ability.mod}}</span></td>
                    <td><span class="center text-box direct" name="data.abilities.{{id}}.base" data-dtype="Number">{{ability.base}}</span></td>
                    <td><span class="center" name="data.abilities.{{id}}.value" data-dtype="Number" title="classLevelBonus: {{ability.classLevelBonus}}
speciesBonus: {{ability.speciesBonus}}
ageBonus: {{ability.ageBonus}}
equipmentBonus: {{ability.equipmentBonus}}
buffBonus: {{ability.buffBonus}}
customBonus: {{ability.customBonus}}">{{ability.bonus}}</span></td>
                    <td><span class="center text-box direct" name="data.abilities.{{id}}.customBonus" data-dtype="Number">{{ability.customBonus}}</span></td>
                </tr>
            {{/unless}}
        {{/each}}
        </tbody>
    </table>
</div>