{{!-- Health Block --}}
<div class="health-block panel flex flex-col">
    <div><h1 class="resource-label">Hit Points</h1></div>
    <div class="flex flex-row">
        <div><h3><label>Total</label><div class="plain input static">{{data.health.max}}</div></h3></div>
        <div><label class="top">Current</label>
            <input class="plain small" type="number" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
        </div>
    </div>
    <div class="flex flex-row panel">
        <div><label>Damage Threshold</label><div class="plain input static">{{data.defense.dt}}</div></div>
        <div><label>Fort</label><div class="plain input static">{{data.defense.fort}}</div></div>
        <div><label>Misc</label><div class="plain input static"></div></div>
    </div>
    <div class="flex flex-row">
        <div><label>Damage Reduction</label><div class="plain input static">{{data.health.dr}}</div></div>
        <div><label>Shield</label><div class="plain input static">{{data.health.sr}}</div></div>
    </div>
    <div class="flex flex-row">
        <div><label>Base Attack</label><div class="plain input static">{{data.offense.bab}}</div></div>
        <div><label>Speed</label><div class="plain input static">{{actor.speed}}</div></div>
    </div>
    <div class="flex flex-row">
        <div><label class="top">Force Points</label>
            <input class="plain small" type="number" name="data.forcePoints" value="{{data.forcePoints}}" data-dtype="Number"/>
        </div>
        <div><label class="top">Destiny Points</label>
            <input class="plain small" type="number" name="data.destinyPoints" value="{{data.destinyPoints}}" data-dtype="Number"/>
        </div>
    </div>
</div>