{{!-- Health Block --}}
<div class="health-block panel flex flex-col">
    <h1 class="top-label label resource-label">Hit Points</h1>
    <div class="flex-row">
        <div class="labeled-input numeric-override medium" data-override="{{actor.health.override}}" data-context="health"
             data-override-name="Total Health" data-override-key="system.health.override">
            <label for="maxHealth" class="text">Total</label>
            <input class="left-input" id="maxHealth" type="text"
                   value="{{actor.health.max}}" placeholder="" disabled/>
        </div>
        <div class="divider"></div>
        <div class="labeled-input medium">
            <label for="currentHealth" class="text">Current</label>
            <input class="middle-input" id="currentHealth" type="number" name="system.health.value"
                   value="{{actor.health.value}}" data-dtype="Number"/>
        </div>

        <div class="labeled-input medium">
            <label for="secondWind" class="top" title="Regardless of second winds per day, only one can be used per encounter.">Second
                Winds/Day</label>
            <input class="middle-input" id="secondWind" type="text" placeholder="" disabled/>
            {{log actor.secondWind}}
            {{#times actor.secondWind.perDay}}
                <input class="left-control-{{this}}" data-action="toggle-second-wind" title="Spent" type="checkbox" data-name="system.secondWind.toggles.{{this}}"
                       {{#if (lookup ../actor.system.secondWind.toggles this)}}checked{{/if}}>
            {{/times}}
        </div>

        <div class="labeled-input medium">
            <label for="firstAid" class="top" title="You can usually only accept first aid once per day">First Aid/Day</label>
            <input class="right-input" id="firstAid" type="text" placeholder="" disabled/>
            {{#times actor.firstAid.perDay}}
                <input class="left-control-{{this}}" data-action="toggle-first-aid" title="Performed" type="checkbox" data-name="system.firstDay.toggles.{{this}}"
                       {{#if (lookup ../actor.system.firstDay.toggles this)}}checked{{/if}}>
            {{/times}}
        </div>
    </div>


    <div class="flex-row">
        <div class="labeled-input">
            <label for="damageThreshold">Damage Threshold</label>
            <input class="left-input" id="damageThreshold" type="text"
                   value="{{actor.defense.damageThreshold.total}}" placeholder="" disabled/>
        </div>
        <div class="labeled-input">
            <label for="dtFort">Fort</label>
            <input class="middle-input" id="dtFort" type="text"
                   value="{{actor.defense.fortitude.total}}" placeholder="" disabled/>
        </div>
        <div class="labeled-input">
            <label for="dtMisc">Misc</label>
            <input class="right-input" id="dtMisc" type="number" name="system.defense.damageThreshold.misc"
                   value="{{actor.defense.damageThreshold.misc}}" placeholder=""/>
        </div>
    </div>

    <div class="flex-row">
        <div class="labeled-input">
            <label for="damageReduction">Damage Reduction</label>
            <input class="" id="damageReduction" type="text"
                   value="{{actor.defense.damageReduction}}" placeholder="" disabled/>
        </div>
    </div>


    <div class="flex-row">
        <div class="labeled-input">
            <label for="baseAttack">Base Attack</label>
            <input class="left-input" id="baseAttack" type="text"
                   value="{{actor.baseAttackBonus}}" placeholder="" disabled/>
            <div class="control-0">
                <a class="rollable" title="Roll 1d20 + {{actor.baseAttackBonus}}" data-label="Base Attack Bonus" data-roll="1d20 + {{actor.baseAttackBonus}}"><i class="fas fa-dice-d20"></i></a>
            </div>
        </div>
        <div class="labeled-input">
            <label for="grapple">Grapple Bonus</label>
            <input class="middle-input" id="grapple" type="text"
                   value="{{actor.grapple}}" placeholder="" disabled/>
            <div class="control-0">
                <a class="rollable" title="Roll 1d20 + {{actor.grapple}}" data-label="Grapple" data-roll="1d20 + {{actor.grapple}}"><i class="fas fa-dice-d20"></i></a>
            </div>
        </div>
        <div class="labeled-input">
            <label for="dtMisc">Speed</label>
            <input class="right-input" id="dtMisc" type="text"
                   value="{{actor.speed}}" placeholder="" disabled/>
        </div>
    </div>

    <div class="flex-row">
        <div class="labeled-input">
            <label for="forcePoints">Force Points</label>
            <input id="forcePoints" class="left-input" type="number" name="system.forcePoints.quantity" value="{{actor.forcePoints.quantity}}"
                   data-dtype="Number"/>
            <div class="control-0">
                <a class="rollable" title="Roll {{actor.forcePoints.roll}}" data-label="Force Point" data-roll="{{actor.forcePoints.roll}}"><i class="fas fa-dice-d20"></i></a>
            </div>
        </div>
        <div class="labeled-input">
            <label for="forcePoints">Destiny Points</label>
            <input id="forcePoints" class="right-input" type="number" name="system.destinyPoints" value="{{actor.system.destinyPoints}}"
                   data-dtype="Number"/>
        </div>
    </div>

    <h1 class="top-label label resource-label">Shields</h1>
    <div class="flex-row">
        <div class="labeled-input numeric-override" data-override="{{actor.shields.override}}" data-override-name="Total Shields" data-override-key="system.shields.override">
            <label for="maxShields" class="text">Total</label>
            <input class="left-input" id="maxShields" type="text"
                   value="{{actor.shields.max}}" placeholder="" disabled/>
        </div>
        <div class="divider"></div>
        {{#if actor.shields.failureChance}}
            <div class="labeled-input"><label>Failure Chance</label><div class="plain input static">{{actor.shields.failureChance}}</div><</div>

            <div class="labeled-input">
                <label for="failureChance">Failure Chance</label>
                <input class="middle-input" id="failureChance" type="text"
                       value="{{actor.defense.fort.total}}" placeholder="" disabled/>
            </div>
        {{/if}}
        <div class="labeled-input">
            <label for="currentShield" class="text">Current</label>
            <input class="right-input" id="currentShield" type="number" name="system.shields.value" value="{{actor.shields.value}}" data-dtype="Number"/>

            <div class="control-2" title="Toggle Shield {{#if actor.shields.active}}Off{{else}}On{{/if}}"><a data-action="shield" data-action-type="toggle" class="{{#if actor.shields.active}}cursor{{/if}}"><i class="fas fa-shield-virus"></i></a></div>
            <div class="control-1" title="Shield +5"><a data-action="shield" data-action-type="plus"><i class="fas fa-plus"></i></a></div>
            <div class="control-0" title="Shield -5"><a data-action="shield" data-action-type="minus"><i class="fas fa-minus"></i></a></div>
        </div>
    </div>
</div>