<!--TODO find a spot for the portrait -->
<div class="summary-header swse">
    <div class="large labeled-input">
        <label for="name" class="text">Name</label>
        <input class="input" name="name" id="name" type="text" value="{{actor.name}}" placeholder=""/>
    </div>

    <div class="large labeled-input">
        <label for="player" class="text">Player</label>
        <input class="input" name="system.player" id="player" type="text" value="{{actor.system.player}}"
               placeholder=""/>
    </div>

    <div class="medium labeled-input">
        <label for="classSummary" class="text">Classes</label>
        <input class="input" id="classSummary" type="text" value="{{actor.system.classSummary}}" placeholder=""
               disabled/>
    </div>

    <div class="small labeled-input">
        <label for="level" class="text">Level</label>
        <input class="input" id="level" type="text" value="{{actor.system.levelSummary}}" placeholder="" disabled/>
    </div>

    <div class="small labeled-input">
        <label for="challenge" class="text">CL</label>
        <input class="input" id="challenge" name="system.cl" type="text" value="{{actor.system.cl}}" placeholder=""
               disabled/>
    </div>

    <div class="large labeled-input item clickable" {{#if actor.species}}
         data-item-id="{{actor.species.id}}" {{else}}data-action="compendium" data-type="Item"
         data-filter="-type:species"{{/if}}>
        <label for="species" class="text">Species</label>
        <input class="input" id="species" type="text"
               value="{{#if actor.species}}{{actor.species.name}}{{else}}Add Species{{/if}}" placeholder="" disabled/>
        {{#if actor.species}}
            <div class="control-2">
                <a class="" data-action="view" data-item-id="{{actor.species.id}}"
                   title="view item"><i
                        class="fas fa-eye"></i></a>
            </div>
            <div class="control-1">
                <a class="" data-action="delete" data-item-id="{{actor.species.id}}"
                   title="delete item"><i
                        class="fas fa-trash"></i></a>
            </div>
        {{else}}
            <div class="control-1">
                <a data-action="compendium" data-type="Item" data-filter="-type:species"
                   title="{{localize "Open Compendium"}}"><i class="fas fa-folder-plus"></i></a>
            </div>
        {{/if}}
    </div>

    <div class="medium labeled-input clickable" data-action="gender">
        <label for="gender" class="text">Gender</label>
        <input class="input" id="gender" type="text" value="{{#if actor.system.gender}}{{actor.system.gender}}{{else}}{{#if actor.system.sex}}{{actor.system.sex}}{{/if}}
        {{/if}}" placeholder=""
               disabled/>
    </div>


    <div class="medium labeled-input" data-action="age">
        <label for="age" class="text">Age</label>
        <input class="input" id="age" type="text" value="{{#if actor.system.age}}{{actor.system.age}} years{{/if}}" placeholder="" disabled/>
    </div>

    <div class="small labeled-input">
        <label for="height" class="text">Height</label>
        <input class="input" id="height" name="system.height" type="text" value="{{actor.system.height}}" placeholder=""/>
    </div>

    <div class="small labeled-input">
        <label for="weight" class="text">Weight</label>
        <input class="input" id="weight" name="system.weight" type="text" value="{{actor.system.weight}}" placeholder=""/>
    </div>



    <div class="large labeled-input item" data-item-id="{{#if actor.destiny}}{{actor.destiny.id}}{{else}}{{#if actor.background}}{{actor.background.id}}{{/if}}{{/if}}">
        <label for="destiny" class="text">{{#if actor.destiny}}Destiny{{else}}{{#if actor.background}}Background{{else}}Destiny or Background{{/if}}{{/if}}</label>
        <input class="input" id="destiny"  type="text" value="{{#if actor.destiny}}{{actor.destiny.name}}{{else}}{{#if actor.background}}{{actor.background.name}}{{/if}}{{/if}}" placeholder="" disabled/>
        {{#ifEither actor.destiny actor.background}}
            <div class="control-2">
                <a data-action="view"
                   title="{{localize "Edit"}}"><i class="fas fa-eye"></i></a>
            </div>
            <div class="control-1">
                <a data-action="delete" data-action-target="swse.background"
                   title="{{localize "Delete"}}"><i class="fas fa-trash"></i></a>
            </div>
        {{else}}
            <div class="control-2">
                <a data-action="compendium" data-type="Item" data-filter="-type:destiny"
                   title="{{localize "Open Destiny Compendium"}}"><i class="fas fa-folder-plus"></i></a>
            </div>
            <div class="control-1">
                <a data-action="compendium" data-type="Item" data-filter="-type:background"
                   title="{{localize "Open Background Compendium"}}"><i class="fas fa-folder-plus"></i></a>
            </div>
        {{/ifEither}}

    </div>
    <div class="small labeled-input">
        <label for="experience" class="text">XP</label>
        <input class="input" id="experience" name="system.experience" type="text" value="{{actor.system.experience}}" placeholder=""/>
    </div>

</div>