{{#if bigLabel}}
<div class="flexrow">
    <h2><label class="resource-label">{{bigLabel}}
        {{#if compendiumFilter}}
            <a data-action="compendium" data-type="Item" data-filter="{{compendiumFilter}}"
               title="{{localize "Open Compendium"}}"><i class="fas fa-folder-plus"></i></a>
        {{/if}}
        {{#if compendiumPack}}
            <a data-action="compendium" data-type="Item" data-pack="{{compendiumPack}}"
               title="{{localize "Open Compendium"}}"><i class="fas fa-folder-plus"></i></a>
        {{/if}}
        {{#if createNew}}
            <a class="fas fa-plus" data-action="create" data-action-type="{{createNew}}"
               title="add new {{createNew}}"></a>
        {{/if}}
    </label></h2>{{{controls}}}
</div>
{{/if}}

<div class="item-container panel flexcol {{container}}" {{#if container}}data-container-id="{{container}}"{{/if}}>
    {{#if label}}
        <div class="header-row flex-row">
            <label class="resource-label">{{label}}</label>
            {{#if compendiumFilter}}
                <a data-action="compendium" data-type="Item" data-filter="{{compendiumFilter}}"
                   title="{{localize "Open Compendium"}}"><i class="fas fa-folder-plus"></i></a>
            {{/if}}
            {{#if compendiumPack}}
                <a data-action="compendium" data-type="Item" data-pack="{{compendiumPack}}"
                   title="{{localize "Open Compendium"}}"><i class="fas fa-folder-plus"></i></a>
            {{/if}}
            {{#if createNew}}
                <a class="fas fa-plus" data-action="create" data-action-type="{{createNew}}"
                   title="add new {{createNew}}"></a>
            {{/if}}
            {{{controls}}}
        </div>
    {{/if}}
    {{#if quickCreate}}
        <div class="search-row">
            <input type="text" class="editor" data-action="quickCreate" data-action-type="{{quickCreate}}"
                   placeholder="New {{quickCreate}}">
        </div>
    {{/if}}
    {{#if searchable}}
        <div class="search-row">
            this is where the search funtionality would go, if i had any.
        </div>
    {{/if}}

    <div class="scroll-container" style="{{#if max-height}}max-height: {{max-height}};{{/if}}{{#if
            min-height}} min-height: {{min-height}};{{/if}}">
        <ol class="items-list">
            {{#each items as |item id|}}
                {{#unless item.system.hidden}}
                    {{> 'systems/swse/templates/actor/parts/item-entry.hbs'  acceptsTemplates=../acceptsTemplates item=item fields=../fields draggable=../draggable quantity=../quantity delete=../delete description=../description overrideDelete=../overrideDelete usable=../usable rollable=../rollable}}
                {{/unless}}
            {{/each}}
        </ol>
    </div>
</div>