{{!-- Health Block --}}
<div class="health-block panel flex flex-col">
    <div><h1 class="resource-label">Hit Points</h1></div>
    <div class="flex flex-row">
        <div><h3><label>Total</label><div class="plain input static">{{actor.system.health.max}}</div></h3></div>
        <div><label class="top">Current</label>
            <input class="plain small" type="number" name="system.health.value" value="{{actor.system.health.value}}" data-dtype="Number"/>
        </div>
    </div>
    <div class="flex flex-row panel">
        <div><label>Damage Threshold</label><div class="plain input static">{{actor.system.defense.dt.total}}</div></div>
        <div><label>Fort</label><div class="plain input static">{{actor.system.defense.fort.total}}</div></div>
        <div><label>Misc</label><div class="plain input static"></div></div>
    </div>
    <div class="flex flex-row">
        <div><label>Damage Reduction</label><div class="plain input static">{{actor.system.defense.damageReduction}}</div></div>
    </div>
</div>