<div class="vehicle-station panel {{toHtmlClass crew.type}} swse {{#if crew.id}}draggable{{/if}}"
     data-actor-id="{{crew.id}}" data-position="{{crew.type}}" data-slot="{{crew.slotNumber}}">
{{log crew}}

    {{#if crew.id}}
        <div class="crew-member-portrait"
             style="background-image: url('{{crew.img}}');">
            <h3 class="top-label label resource-label">{{crew.slotName}}: {{crew.name}}</h3>
            <a class="crew-control crew-remove" title="Remove Crew" data-actor-id="{{crew.id}}" data-uuid="{{crew.uuid}}"
               data-position="{{crew.type}}"><i class="fas fa-trash"></i></a>
        </div>
        <!--        <div class=""><img class="crew-member-portrait" src="{{crew.img}}" alt="{{crew.name}}" data-edit="img" title="{{crew.name}}"/></div>-->
    {{else}}
        <h3 class="top-label label resource-label">{{crew.slotName}}</h3>
    {{/if}}

    <div class="crewCover medium labeled-input">
        <label for="crewCover">Crew Cover</label>
        <select id="crewCover" name="system.crewCover.{{concat crew.type crew.slotNumber}}">
            {{#select crew.cover}}
                <option value="None">None</option>
                <option value="+5 Cover Bonus">+5 Cover Bonus</option>
                <option value="+10 Cover Bonus">+10 Cover Bonus</option>
                <option value="Total Cover">Total Cover</option>
            {{/select}}
        </select>
    </div>
</div>