 {{#if attack}}
    {{#unless attack.hide}}
        <div class="flex flex-col {{#if
                attack.provider}}vehicle{{/if}} panel summary-block resource attack collapsible-container"
             data-attacks="[{{attack.toJSONString}}]" data-item-id="{{attack.itemId}}"
             data-provider-id="{{attack.providerId}}" data-actor-id="{{attack.actorId}}"
             data-label="{{attack.name}}" data-img="{{attack.img}}">
            <div class="flex flex-row">


                <div class="huge labeled-input">
                    <input class="input" type="text" value="{{attack.name}}{{#if attack.hasAmmunition}}{{#each attack.ammunition.current as |ammo id|}} ({{ammo.type}} {{ammo.current}}/{{ammo.capacity}}){{/each}}{{/if}}"
                           placeholder="" disabled/>
                        <div class="toggle control" data-toggle-id="{{attack.actorId}}-{{attack.itemId}}-{{attack.providerId}}">
                            <a>
                                <i class="fas {{#if
                                        (lookup toggles (concat attack.actorId "-" attack.itemId "-" attack.providerId))}}fa-minus{{else}}fa-plus{{/if}}"></i>
                            </a>
                        </div>
                </div>
            </div>
            <div class="attack-block collapsible" style="display: {{#if
                    (lookup toggles (concat attack.actorId "-" attack.itemId "-" attack.providerId))}}grid{{else}}none{{/if}}">

                <div class="to-hit"><label for="attack">Attack</label>
                    <div class="plain input">{{{attack.attackRoll.renderFormulaHTML}}}</div>
                </div>
                <div class="damage"><label for="damage">Damage</label>
                    <div class="plain input">{{{attack.damageRoll.renderWeaponBlockFormulaHTML}}}</div>
                </div>
                <div class="attack-notes" title="{{{attack.notesText}}}"><label for="notes">Notes</label>
                    <div class="plain input">{{{attack.notesHTML}}}</div>
                </div>
                <div class="range"><label for="range">Range</label>
                    <div class="plain input">{{attack.rangeDisplay}}</div>
                </div>
                <div class="critical-multiplier"><label for="critical">Crit.</label>
                    <div class="plain input">{{attack.critical}}</div>
                </div>
                <div class="type"><label for="type">Type</label>
                    <div class="plain input">{{attack.type}}</div>
                </div>
                <div class="modes">
                    {{#each attack.modes as |mode id|}}
                        <div class="mode-selector mode-group" data-type="{{mode.type}}"
                             data-mode-path="{{mode.modePath}}"
                             data-mode="{{mode.name}}" data-item-id="{{../../attack.itemId}}"
                             data-group="{{mode.group}}" data-attributes="{{stringify mode.attributes}}">
                            <label for="{{mode.name}} {{../../attack.itemId}}">{{mode.name}}</label>
                            <input type="checkbox" {{#unless mode.disabled}}checked{{/unless}} data-type="disable"
                                   data-action="effect-control" data-effect-uuid="{{mode.uuid}}"/>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/unless}}
{{/if}}