{{#if attack}}
    {{#unless attack.hide}}
        <div class="flex flex-col {{#if attack.provider}}vehicle{{/if}} panel summary-block resource attack collapsible-container"
             data-attacks="[{{attack.toJSONString}}]" data-item-id="{{attack.itemId}}"
             data-provider-id="{{attack.providerId}}" data-actor-id="{{attack.actorId}}"
             data-label="{{attack.name}}" data-img="{{attack.img}}">
            <div class="flex flex-row-reverse">
                <div class="collapse-toggle"><h3 class="plain input"><a data-action="hide"><i
                        class="fas fa-plus"></i></a></h3></div>
                <div class="flex-grow name"><h3 class="plain input">{{attack.name}}</h3></div>
            </div>
            <div class="attack-block collapsible" style="display: none">

                <div class="to-hit"><label for="attack">Attack</label>
                    <div class="plain input">{{{attack.attackRoll.renderFormulaHTML}}}</div>
                </div>
                <div class="damage"><label for="damage">Damage</label>
                    <div class="plain input">{{{attack.damageRoll.renderFormulaHTML}}}</div>
                </div>
                <div class="attack-notes" title="{{{attack.notesText}}}"><label for="notes">Notes</label>
                    <div class="plain input">{{{attack.notesHTML}}}</div>
                </div>
                <div class="range"><label for="range">Range</label>
                    <div class="plain input">{{attack.rangeDisplay}}</div>
                </div>
                <div class="critical-multiplier"><label for="critical">Crit.</label>
                    <div class="plain input">{{attack.critical}}</div>
                </div>
                <div class="type"><label for="type">Type</label>
                    <div class="plain input">{{attack.type}}</div>
                </div>
                <div class="modes">
                    {{#each attack.modes as |group groupId|}}
                        <div class="mode-group">
                            {{#each group as |mode id|}}
                                {{#if mode}}
                                    <div class="mode-selector" data-mode-path="{{mode.modePath}}"
                                         data-mode="{{mode.name}}" data-item-id="{{../../attack.itemId}}">
                                        <label for="{{mode.name}} {{../../attack.itemId}}">{{mode.name}}</label>
                                        <input class="" type="{{#unless mode.group}}checkbox{{/unless}}{{#if
                                                mode.group}}radio{{/if}}" name="{{mode.group}} {{../../attack.itemId}}"
                                               {{#if mode.isActive}}checked{{/if}}
                                               data-mode="{{mode.name}}" data-item-id="{{../../attack.itemId}}"
                                               id="{{mode.name}} {{../../attack.itemId}}"/>
                                    </div>
                                {{/if}}
                            {{/each}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/unless}}
{{/if}}