<form class="{{cssClass}}" autocomplete="off">
    {{#unless data.data.attributeGenerationType}}
        <a><span class="warning generationType">Please Select an attribute generation type</span></a><br/>{{/unless}}
    {{#unless actor.species}}<a><span class="warning" data-action="compendium" data-action-target="swse.species">Please Select a Species</span></a><br/>{{/unless}}
    {{#unless actor.classes}}<span class="warning">Please Select a Class</span><br/>{{/unless}}
    {{#if actor.remainingSkills}}
        <span class="warning">Remaining Trained Skills: {{actor.remainingSkills}}</span><br/>{{/if}}
    {{#if actor.tooManySkills}}<span class="warning">Too Many Skills Selected: {{actor.tooManySkills}}</span><br/>{{/if}}
    {{#each actor.data.availableItems as |item id|}}
        <span class="warning">Items from {{id}} remaining: {{item}}</span><br/>{{/each}}
    {{#each actor.inactiveProvidedFeats as |feat id|}}
        <span class="warning">The {{feat.finalName}} feat is provided but cannot be added because of missing prerequisites: {{feat.data.prerequisite.text}}</span><br/>
    {{/each}}
    <div>
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="summary">Summary</a>
            <a class="item" data-tab="charClass">Class</a>
            <a class="item" data-tab="equipment">Equipment</a>
            <!--        {{#if
                    actor.data.isDroid}}<a class="item" data-tab="droid"><span>Droid Systems</span></a>{{/if}}-->
            <a class="item" data-tab="feats">Feats</a>
            <a class="item" data-tab="talents">Talents</a>
            <a class="item" data-tab="traits">Traits</a>
            {{#unless actor.hideForce}}<a class="item" data-tab="force">The Force</a>{{/unless}}
            <a class="item" data-tab="affiliations">Affiliations</a>
            <a class="item" data-tab="description">Notes</a>

        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Summary Page --}}
            <div class="tab summary flex-col" data-group="primary" data-tab="summary">
                <div>
                    <!--summary-->
                    {{> 'systems/swse/templates/actor/parts/actor-summary.hbs'}}
                </div>
                <div class="flex flex-row">
                    <div class="flex flex-col">
                        <!--attributes-->
                        {{> 'systems/swse/templates/actor/parts/actor-type.hbs'}}
                        {{> 'systems/swse/templates/actor/parts/actor-attributes.hbs'}}
                    </div>
                    <div class="flex-grow">
                        <!--health-->
                        {{> 'systems/swse/templates/actor/parts/actor-health.hbs'}}
                    </div>
                    <div class="flex flex-col">
                        <!--portrait-->
                        {{> 'systems/swse/templates/actor/parts/actor-portrait.hbs'}}
                        <!--condition-->
                        {{> 'systems/swse/templates/actor/parts/actor-condition.hbs'}}
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="flex-grow">
                        <!--defenses-->
                        {{> 'systems/swse/templates/actor/parts/actor-defenses.hbs'}}
                    </div>
                    <div>
                        <!--darkside-->
                        {{> 'systems/swse/templates/actor/parts/actor-darkside.hbs'}}
                    </div>
                </div>
                <div class="flex flex-row">
                    {{> 'systems/swse/templates/actor/parts/actor-weapon-armor-summary.hbs'}}
                    {{> 'systems/swse/templates/actor/parts/actor-skills.hbs'}}
                </div>
            </div>


            {{!-- Attributes Tab --}}
            <div class="tab attributes" data-group="primary" data-tab="attributes">
                {{> 'systems/swse/templates/actor/parts/actor-attributes.hbs'}}
            </div>


            {{!-- Class Page --}}
            <div class="tab summary" data-group="primary" data-tab="charClass">
                <table class="fixed">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Class</th>
                        <th>Class HP</th>
                        <th>Re-roll HP</th>
                        <th>Attribute Bonus HP</th>
                        <th>Total HP</th>
                        <!--                  <th>First Level Class</th> -->
                        <th>
                            <a data-action="compendium" data-action-target="swse.classes"
                               title="{{localize "Open Compendium"}}"><i class="fas fa-folder-plus"></i></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- <ol class="items-list charclass-list"> -->
                    {{#each actor.classes as |class id|}}
                        <tr class="charclass item" data-item-id="{{class.data._id}}">
                            <td class="item-image"><img src="{{class.img}}" title="{{class.name}}" width="24"
                                                        height="24" alt="{{class.name}}"/></td>
                            <td><h4 class="item-name">{{class.name}}</h4></td>
                            <td><span class="text-box {{#unless class.actAsFirstLevel}}item-attribute short{{/unless}} center"
                                      data-item="{{class.data._id}}" data-item-attribute="rolledHp"
                                      data-dtype="Number">{{class.classLevelHealth}}</span>
                            </td>
                            <td>
                                {{#unless class.actAsFirstLevel}}
                                    <a class="rollable" title="Re-roll {{class.levelUpHitPoints}}"
                                       data-item="{{class.data._id}}" data-item-attribute="rolledHp" data-roll="{{class.levelUpHitPoints}}"><i class="fas fa-dice"></i>
                                    </a>{{/unless}}</td>
                            <td>{{../data.data.attributes.con.mod}}</td>
                            <td>{{sum class.classLevelHealth ../data.data.attributes.con.mod}}</td>
                            <td class="item-controls">
                                <a data-action="view" class="item-control" title="View Class Description"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-duplicate" title="Copy Class"><i
                                        class="fas fa-plus"></i></a>
                                {{#ifLast id actor.classes}}
                                    <a class="item-control item-delete" title="Delete Class"><i
                                            class="fas fa-trash"></i></a>{{/ifLast}}
                            </td>
                        </tr>
                    {{/each}}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td title="these bonuses come from feats, traits, and equipped items.">Other
                            Bonuses:</td>
                        <td> {{data.data.health.other}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{data.data.health.max}}</td>
                        <td></td>
                    </tr>
                    <!-- </ol> -->
                    </tbody>
                </table>
            </div>

            {{!-- Biography Tab --}}
            <div class="tab biography" data-group="primary" data-tab="description">
                {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
            </div>

            {{!-- Owned Equipment Tab --}}
            <div class="tab items" data-group="primary" data-tab="equipment">
                <div>
                    <h2><label class="resource-label">Equipment <a data-action="compendium"
                                                                   data-action-target="swse.items"
                                                                   title="Items"><i
                            class="fas fa-folder-plus"></i></a><a data-action="compendium"
                                                                  data-action-target="swse.templates"
                                                                  title="Templates"><i
                            class="fas fa-folder-plus"></i></a></label></h2>
                </div>
                <div class="grid-2col">
                    {{> 'systems/swse/templates/actor/parts/item-list.hbs' container="unequipped" label="Unequipped" items=actor.unequipped draggable=true}}
                    {{> 'systems/swse/templates/actor/parts/item-list.hbs' container="equipped" label="Equipped" items=actor.equipped draggable=true}}
                </div>

                {{> 'systems/swse/templates/actor/parts/item-list.hbs' container="general-equipment" label="General Equipment" items=actor.inventory draggable=true}}
            </div>


            <div class="tab summary" data-group="primary" data-tab="droid">

            </div>

            {{!-- Owned Feats Tab --}}
            <div class="tab items" data-group="primary" data-tab="feats">
                <div>
                    <h2><label class="resource-label">Feats <a data-action="compendium"
                                                               data-action-target="swse.feats"
                                                               title="{{localize "Open Compendium"}}"><i
                            class="fas fa-folder-plus"></i></a></label></h2>
                </div>
                <ol class="items-list">
                    {{#each actor.feats as |feat id|}}
                        <li class="item feat flexrow " data-item-name="{{feat.finalName}}"
                            data-item-id="{{feat._id}}">
                            <!--                <div class="item-image"><img src="{{feat.img}}" title="{{feat.finalName}}" width="24" height="24"/></div>-->
                            <h4 class="item-name"><b>{{feat.finalName}}</b></h4>
                            {{#if feat.data.prerequisite }}
                                <h4 class="item-name"><b>Prerequisites:</b> {{feat.data.prerequisite.text}}</h4>{{/if}}
                            <!-- TODO maybe put the description here-->

                            <div class="item-controls">
<!--                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>-->
                                {{#unless feat.data.supplier.id}}
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                {{/unless}}
                                <a data-action="view" class="item-control" title="View Item"><i class="fas fa-eye"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            </div>

            {{!-- Owned Talents Tab --}}
            <div class="tab items" data-group="primary" data-tab="talents">
                <div>
                    <h2><label class="resource-label">Talents <a data-action="compendium"
                                                                 data-action-target="swse.talents"
                                                                 title="{{localize "Open Compendium"}}"><i
                            class="fas fa-folder-plus"></i></a></label></h2>
                </div>
                <ol class="items-list">
                    {{#each actor.talents as |talent id|}}
                        <li class="item flexrow" data-item-id="{{talent._id}}">
                            <h4 class="item-name"><b>{{talent.finalName}}</b></h4>
                            <h4 class="item-name"><a
                                    href="{{talent.data.talentTreeUrl}}"><b>{{talent.talentTree}}</b></a></h4>
                            <h4 class="item-name">{{#if talent.data.prerequisites}}
                                <b>Prerequisites:</b> {{talent.data.prerequisites}}{{/if}}</h4>
<!--                            <h4 class="item-name">-->
<!--                                <b>Source:</b> {{talent.data.talentTreeSource}}</h4>-->
                            <div class="item-controls">
                                <a data-action="view" class="item-control" title="Edit Item"><i class="fas fa-edit"></i></a>
                                {{#unless talent.data.supplier.id}}
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                {{/unless}}
                            </div>
                        </li>
                    {{/each}}
                </ol>
            </div>


            {{!-- Owned Traits Tab --}}
            <div class="tab items" data-group="primary" data-tab="traits">
                <div>
                    <h2><label class="resource-label">Traits <a data-action="compendium"
                                                                 data-action-target="swse.talents"
                                                                 title="{{localize "Open Compendium"}}"><i
                            class="fas fa-folder-plus"></i></a></label></h2>
                </div>
                <ol class="items-list">
                    {{#each actor.traits as |trait id|}}
                        <li class="item" data-item-id="{{trait._id}}" title="{{trait.data.textDescription}}">
                            <div class="flexrow">
                                <h4 class="item-name"><b>{{trait.finalName}}</b></h4>
                                <h4 class="item-name">Source: {{trait.data.supplier.type}}
                                    , {{trait.data.supplier.name}}</h4>
                                    <!--                            <h4 class="item-name">{{#if trait.data.prerequisites}}-->
                                    <!--                                <b>Prerequisites:</b> {{trait.data.prerequisites}}{{/if}}</h4>-->
                                <div class="item-controls">
                                    <a data-action="view" class="item-control" title="Edit Item"><i class="fas fa-edit"></i></a>
                                </div>
                            </div>
                            <!--<div>{{trait.data.textDescription}}</div>-->
                        </li>
                    {{/each}}
                </ol>
            </div>

            {{!-- Owned Powers Tab --}}
            <div class="tab items" data-group="primary" data-tab="force">
                <div>
                    <h2><label class="resource-label">Force Powers <a data-action="compendium"
                                                                      data-action-target="swse.force powers"
                                                                      title="{{localize "Open Compendium"}}"><i
                            class="fas fa-folder-plus"></i></a></label></h2>
                </div>
                <ol class="items-list">
                    {{#each actor.powers as |power id|}}
                        <li class="item flexrow" data-item-id="{{power._id}}">
                            <h4 class="item-name"><b>{{power.name}}</b></h4>
                            {{#if power.data.prerequisites}}
                                <h4 class="item-name"><b>Prerequisites:</b> {{power.data.prerequisites}}</h4>{{/if}}
                            <div class="item-controls">
                                <a data-action="view" class="item-control" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </ol>
                <br/>
                <div>
                    <h2><label class="resource-label">Force Secrets <a data-action="compendium"
                                                                       data-action-target="swse.force secrets"
                                                                       title="{{localize "Open Compendium"}}"><i
                            class="fas fa-folder-plus"></i></a></label></h2>
                </div>
                <ol class="items-list">
                    {{#each actor.secrets as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name"><b>{{item.name}}</b></h4>
                            <h4 class="item-name"><b>Prerequisites:</b> {{item.prerequisites}}</h4>
                            <div class="item-controls">
                                <a data-action="view" class="item-control" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </ol>
                <br/>
                <div>
                    <h2><label class="resource-label">Force Techniques <a data-action="compendium"
                                                                          data-action-target="swse.force techniques"
                                                                          title="{{localize "Open Compendium"}}"><i
                            class="fas fa-folder-plus"></i></a></label></h2>
                </div>
                <ol class="items-list">
                    {{#each actor.techniques as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name"><b>{{item.name}}</b></h4>
                            <h4 class="item-name"><b>Prerequisites:</b> {{item.prerequisites}}</h4>
                            <div class="item-controls">
                                <a data-action="view" class="item-control" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </ol>
                <br/>
                <div>
                    <h2><label class="resource-label">Force Regimens <a data-action="compendium"
                                                                        data-action-target="swse.force regimens"
                                                                        title="{{localize "Open Compendium"}}"><i
                            class="fas fa-folder-plus"></i></a></label></h2>
                </div>
                <ol class="items-list">
                    {{#each actor.regimens as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name"><b>{{item.name}}</b></h4>
                            <h4 class="item-name"><b>Prerequisites:</b> {{item.prerequisites}}</h4>
                            <div class="item-controls">
                                <a data-action="view" class="item-control" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            </div>

            <div class="tab affiliations" data-group="primary" data-tab="affiliations">
                {{> 'systems/swse/templates/actor/parts/actor-affiliations.hbs'}}
            </div>
        </section>
    </div>
</form>
