<form class="{{cssClass}}" autocomplete="off">
    <div>
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="summary">Summary</a>
            <a class="item" data-tab="systems">Systems</a>
            <a class="item" data-tab="stations">Stations</a>
            <a class="item" data-tab="cargo">Cargo</a>
            <a class="item" data-tab="traits">Traits</a>
            <a class="item" data-tab="modes">Modes</a>
            <a class="item" data-tab="changes">Changes</a>
            <a class="item" data-tab="description">Notes</a>
            <a class="item" data-tab="settings">Settings</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Summary Page --}}
            <div class="tab summary flex-col" data-group="primary" data-tab="summary">
                <div class="flex flex-row">
                    <div class="flex flex-col">
                        <!--attributes-->
                        {{> 'systems/swse/templates/actor/vehicle/vehicle-crew.hbs'}}
                        {{> 'systems/swse/templates/actor/parts/actor-ability-scores.hbs'}}
                        {{> 'systems/swse/templates/actor/vehicle/vehicle-template.hbs'}}
                    </div>
                    <div class="flex-grow">
                        <!--summary-->
                        {{> 'systems/swse/templates/actor/vehicle/vehicle-summary.hbs'}}
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="flex-grow">
                        <!--health-->
                        {{> 'systems/swse/templates/actor/vehicle/vehicle-health.hbs'}}
                    </div>
                    <div class="flex flex-col">
                    <!--condition-->
                    {{> 'systems/swse/templates/actor/parts/actor-condition.hbs'}}
                    </div>
                    <div class="flex flex-col">
                        <!--portrait-->
                        {{> 'systems/swse/templates/actor/parts/actor-portrait.hbs'}}
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="flex-grow">
                        <!--defenses-->
                        {{> 'systems/swse/templates/actor/parts/actor-defenses.hbs'}}
                    </div>
                </div>
                <div class="flex flex-row">
                    {{> 'systems/swse/templates/actor/parts/actor-weapon-armor-summary.hbs'}}
                    {{> 'systems/swse/templates/actor/vehicle/vehicle-skills.hbs'}}
                </div>
            </div>

            <!--Stations Tab-->
            <div class="tab summary flex-col" data-group="primary" data-tab="stations">
                {{> 'systems/swse/templates/actor/vehicle/vehicle-stations.hbs'}}
            </div>

            {{!-- Biography Tab --}}
            <div class="tab biography" data-group="primary" data-tab="notes">
                {{editor actor.system.biography target="biography" button=true owner=owner editable=editable}}
            </div>


            <div class="tab changes" data-group="primary" data-tab="changes">
                {{> 'systems/swse/templates/change/change-list.hbs' changes=actor.changes inheritedChanges=actor.inheritedChanges modes=modes}}
            </div>

            <div class="tab settings" data-group="primary" data-tab="settings">
                <div class="flexcol">
                    {{#each actor.system.settings as |setting id|}}
                        {{> 'systems/swse/templates/settings/setting.hbs' setting=setting id=id}}
                    {{/each}}
                </div>
            </div>

            <div class="tab modes" data-group="primary" data-tab="modes">
                <div class="section-header flexrow">
                    <div class="entry"></div>
                    <div class="section-header-controls">
                        <a class="control" data-action="effect-control" data-type="add-mode"><i class="far fa-plus-square"></i></a>
                    </div>
                </div>
                <ol class="items-list">
                    {{#each actor.effects as |mode id|}}
                        {{#unless mode.flags.swse.itemModifier}}
                            <li class="item flexrow draggable effect{{#if mode.isDisabled}} disabled{{/if}}" data-effect-id="{{mode._id}}" data-uuid="{{mode.uuid}}">
                                <div class="item-image"><img src="{{mode.img}}" title="{{mode.name}}" width="24" height="24"/>
                                </div>
                                <h4 class="item-name">{{mode.name}}</h4>
                                <div>{{#if mode.hasLinks}}<i class="fas fa-link" title="Has Links"></i>{{/if}}</div>
                                <div class="item-controls">
                                    <input type="checkbox" {{#unless mode.disabled}}checked{{/unless}} data-type="disable" data-action="effect-control" data-effect-id="{{mode._id}}">
                                    <a data-type="view" data-action="effect-control" data-effect-id="{{mode._id}}" class="item-control" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a data-type="delete" data-action="effect-control" data-effect-id="{{mode._id}}" class="item-control" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/unless}}
                    {{/each}}
                </ol>
            </div>



            {{!-- Systems Tab --}}
            <div class="tab items" data-group="primary" data-tab="systems">

                <div>
                    <h2><label class="resource-label">Systems <a data-action="compendium" data-type="Item" data-filter="-type:vehicleSystem"
                                                                 title="{{localize "Open Compendium"}}"><i
                            class="fas fa-folder-plus"></i></a></label></h2>
                </div>
                <div class="grid-2col">
                    <div>
                        {{> 'systems/swse/templates/actor/parts/item-list.hbs' container="uninstalled" label="Uninstalled" items=actor.uninstalled draggable=true}}
                        {{> 'systems/swse/templates/actor/parts/item-list.hbs' container="templates" label="Templates" items=actor.templates draggable=true}}
                    </div>
                    <div>
                        {{> 'systems/swse/templates/actor/parts/item-list.hbs' container="installed" label="Installed Systems" items=actor.installed draggable=true}}
                        {{> 'systems/swse/templates/actor/parts/item-list.hbs' container="pilotInstalled" label="Pilot Weapon Emplacements" items=actor.pilotInstalled draggable=true}}

                        {{#each actor.gunnerPositions as |position id|}}
                            {{> 'systems/swse/templates/actor/parts/item-list.hbs' container=position.id label=(concat "Gunner Position " position.numericId " Weapon Emplacements") items=position.installed draggable=true}}
                        {{/each}}
                        <div class="subtle item-container new-gunner" data-container-id="new-gunner"
                             title="Drag a weapon emplacement here to create a new gunner position"><a><i
                                class="fas fa-plus"></i></a>New Gunner
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Owned Equipment Tab --}}
            <div class="tab items" data-group="primary" data-tab="cargo">

                {{> 'systems/swse/templates/actor/parts/item-list.hbs' container="general-equipment" bigLabel="Cargo" items=actor.cargo draggable=false delete="always" createNew="equipment" quickCreate="equipment" compendiumPack="swse.items"}}

            </div>

            {{!-- Owned Traits Tab --}}
            <div class="tab items" data-group="primary" data-tab="traits">
                {{> 'systems/swse/templates/actor/parts/item-list.hbs' bigLabel="Traits" compendiumFilter="-type:trait" container="items-list" fields= (arr "Source" "Prerequisites") items=actor.traits draggable=false quantity=false delete="unSupplied" overrideDelete=actor.system.ignorePrerequisites description="expandable" controls='<button class="flex-0" style="flex-basis:180px" data-action="gm-bonus">Add GM Bonus</button>'}}

            </div>
        </section>
    </div>
</form>
