<form class="{{cssClass}}" autocomplete="off">
    <div>
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="summary">Summary</a>
            <a class="item" data-tab="systems">Systems</a>
            <a class="item" data-tab="stations">Stations</a>
            <a class="item" data-tab="inventory">Inventory</a>
            <a class="item" data-tab="traits">Traits</a>
            <a class="item" data-tab="notes">Notes</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Summary Page --}}
            <div class="tab summary flex-col" data-group="primary" data-tab="summary">
                <div class="flex flex-row">
                    <div class="flex flex-col">
                        <!--attributes-->
                        {{> 'systems/swse/templates/actor/parts/actor-type.hbs'}}
                        {{> 'systems/swse/templates/actor/parts/actor-attributes.hbs'}}
                        {{> 'systems/swse/templates/actor/vehicle/crew-quality.hbs'}}
                        {{> 'systems/swse/templates/actor/vehicle/vehicle-template.hbs'}}
                    </div>
                    <div class="flex-grow">
                        <!--summary-->
                        {{> 'systems/swse/templates/actor/vehicle/vehicle-summary.hbs'}}
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="flex-grow">
                        <!--health-->
                        {{> 'systems/swse/templates/actor/vehicle/vehicle-health.hbs'}}
                        <!--Shields-->
                        {{> 'systems/swse/templates/actor/parts/actor-shields.hbs'}}
                    </div>
                    <div class="flex flex-col">
                        <!--portrait-->
                        {{> 'systems/swse/templates/actor/parts/actor-portrait.hbs'}}
                        <!--condition-->
                        {{> 'systems/swse/templates/actor/parts/actor-condition.hbs'}}
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="flex-grow">
                        <!--defenses-->
                        {{> 'systems/swse/templates/actor/parts/actor-defenses.hbs'}}
                    </div>
                </div>
                <div class="flex flex-row">
                    {{> 'systems/swse/templates/actor/vehicle/vehicle-attacks-summary.hbs'}}
                    {{> 'systems/swse/templates/actor/vehicle/vehicle-skills.hbs'}}
                </div>
            </div>

            <div class="tab summary flex-col" data-group="primary" data-tab="stations">

                <!--summary-->
                {{> 'systems/swse/templates/actor/vehicle/vehicle-stations.hbs'}}
            </div>

            {{!-- Biography Tab --}}
            <div class="tab biography" data-group="primary" data-tab="notes">
                {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
            </div>



            {{!-- Systems Tab --}}
            <div class="tab items" data-group="primary" data-tab="systems">

                <div>
                    <h2><label class="resource-label">Systems <a data-action="compendium" data-type="Item" data-filter="-type:vehicleSystem"
                                                                 title="{{localize "Open Compendium"}}"><i
                            class="fas fa-folder-plus"></i></a></label></h2>
                </div>
                <div class="grid-2col">
                    <div>
                        {{> 'systems/swse/templates/actor/parts/item-list.hbs' container="uninstalled" label="Uninstalled" items=actor.uninstalled draggable=true}}
                        {{> 'systems/swse/templates/actor/parts/item-list.hbs' container="templates" label="Templates" items=actor.templates draggable=true}}
                    </div>
                    <div>
                        {{> 'systems/swse/templates/actor/parts/item-list.hbs' container="installed" label="Installed Systems" items=actor.installed draggable=true}}
                        {{> 'systems/swse/templates/actor/parts/item-list.hbs' container="pilotInstalled" label="Pilot Weapon Emplacements" items=actor.pilotInstalled draggable=true}}

                        {{#each actor.gunnerPositions as |position id|}}
                            {{> 'systems/swse/templates/actor/parts/item-list.hbs' container=position.id label=(concat "Gunner Position " position.numericId " Weapon Emplacements") items=position.installed draggable=true}}
                        {{/each}}
                        <div class="subtle item-container new-gunner"
                             title="Drag a weapon emplacement here to create a new gunner position"><a><i
                                class="fas fa-plus"></i></a>New Gunner
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Owned Equipment Tab --}}
            <div class="tab items" data-group="primary" data-tab="inventory">
                <div>
                    <h2><label class="resource-label">Equipment <a data-action="compendium" data-type="Item" data-pack="swse.items"
                                                                   title="{{localize "Open Compendium"}}"><i
                            class="fas fa-folder-plus"></i></a></label></h2>
                </div>


                {{> 'systems/swse/templates/actor/parts/item-list.hbs' container="general-equipment" label="Cargo" items=actor.inventory draggable=false}}


            </div>

            {{!-- Owned Traits Tab --}}
            <div class="tab items" data-group="primary" data-tab="traits">
                <div>
                    <h2><label class="resource-label">Traits <a data-action="compendium" data-type="Item" data-filter="-type:trait"
                                                                title="{{localize "Open Compendium"}}"><i
                            class="fas fa-folder-plus"></i></a></label></h2>
                </div>
                <ol class="items-list">
                    {{#each actor.traits as |trait id|}}
                        <li class="item" data-item-id="{{trait._id}}" title="{{trait.data.textDescription}}">
                            <div class="flexrow">
                                <h4 class="item-name"><b>{{trait.finalName}}</b></h4>
                                <h4 class="item-name">Source: {{trait.data.supplier.type}}
                                    , {{trait.data.supplier.name}}</h4>
                                    <!--                            <h4 class="item-name">{{#if
                                    trait.data.prerequisites}}-->
                                    <!--                                <b>Prerequisites:</b> {{trait.data.prerequisites}}{{/if}}</h4>-->
                                <div class="item-controls">
                                    <a data-action="view" class="item-control" title="Edit Item"><i class="fas fa-edit"></i></a>
                                </div>
                            </div>
                            <!--<div>{{trait.data.textDescription}}</div>-->
                        </li>
                    {{/each}}
                </ol>
            </div>
        </section>
    </div>
</form>
