<div>
    <div>{{name}}</div>
    {{#if roll}}
        <div class="">
            <div class="flex-group-center">{{roll.formula}}</div>
            <div class="toggle-hide flex-group-center"><h2>{{roll.total}}</h2></div>
            <div class="hideable flex-group-center hide">{{roll.result}}</div>
        </div>
        {{log roll}}
    {{/if}}
    {{#if modifications}}
        {{#each modifications as |modification id|}}
            <div>{{modification.name}}</div>
        {{/each}}
    {{/if}}
    {{#if notes}}
        <ul>
            {{#each notes as |note id|}}
                <li>{{note.name}}</li>
            {{/each}}
        </ul>
    {{/if}}
</div>