{{#if ammunition}}
    {{#each ammunition.current as |ammo id|}}
        <div>
            {{ammo.type}}
            {{ammo.current}}/{{ammo.capacity}}
            <div class="flex-row">
                <button type="button" data-action="increase-ammo" data-ammo-key="{{ammo.key}}">+</button>
                <button type="button" data-action="decrease-ammo" data-ammo-key="{{ammo.key}}">-</button>
            </div>
            <button type="button" data-action="reload" data-ammo-key="{{ammo.key}}">reload</button>
        </div>
    {{/each}}
{{/if}}