<ul>

    <!--INHERITED ATTRIBUTES--><!--do we need to add _source references?-->
    {{#each data.data.items as |item key|}}
        {{#each item.data.attributes as |attr key|}}
            {{#unlessEquals attr.key 'upgradePointCost'}}
                <li class="attribute flexrow" data-attribute="{{key}}">
                    <label class="attribute-key" type="text" name="data.attributes.{{key}}.key"
                           value="{{key}}">{{attr.key}}</label>
                    <div class="attribute-value">{{attr.value}}</div>
                </li>
            {{/unlessEquals}}
        {{/each}}
    {{/each}}
    <!-- active item -->
    {{#if data.data.attributes}}
        {{#each data.data.attributes as |attr key|}}
            {{#if attr}}
                {{> 'systems/swse/templates/item/parts/attribute.hbs' attr=attr key=key level=../level}}
            {{/if}}
        {{/each}}
        <li class="attribute flexrow subtle"><a class="attribute-add" data-level="{{level}}"><i class="fas fa-plus"></i> add a new
            attribute.</a></li>

    <!--not supporting modes in levels at this time-->
        {{#unless level}}
        <li class="attribute flexrow subtle"><a class="mode-add" data-level="{{level}}"><i class="fas fa-plus"></i> add a new mode.</a></li>

        {{#each data.data.modes as |mode mkey|}}

            {{> 'systems/swse/templates/item/parts/mode.hbs' mode=mode mkey=mkey depth=1 modePath=(concat 'data.modes.' mkey) active=true level=level}}

        {{/each}}
    {{/unless}}

    {{/if}}
    <!-- Compendium Item -->
    {{#unless data.data.attributes}}
        {{#each data._source.data.attributes as |attr key|}}
            {{#if attr}}
                <li class="attribute flexrow" data-attribute="{{key}}">
                    <label class="attribute-key" type="text" name="data.attributes.{{key}}.key"
                           value="{{key}}">{{attr.key}}</label>
                    <input class="attribute-value disabled" name="data.attributes.{{key}}.value" type="text"
                           value="{{attr.value}}" placeholder="" title=""/>
                </li>
            {{/if}}
        {{/each}}

        <!--not supporting modes in levels at this time-->
        {{#unless level}}
        {{#each data._source.data.modes as |mode mkey|}}

            {{> 'systems/swse/templates/item/parts/mode.hbs' mode=mode mkey=mkey depth=1 modePath=(concat 'data.modes.' mkey) active=false level=level}}

        {{/each}}
        {{/unless}}

    {{/unless}}
</ul>