<li>
    <div class="flex flex-col">
        <div class="attribute" data-attribute="{{key}}">
            <label class="attribute-key" type="text" name="{{path}}.key"
                   value="{{key}}">{{attr.key}}</label>
            <input class="attribute-value" name="{{path}}.value" type="text"
                   value="{{attr.value}}" placeholder="" title=""/>
            <input class="attribute-override" name="{{path}}.override" type="checkbox" {{#if attr.override}}checked{{/if}} title="attributes with this enabled will override other attributes by the same name rather than both being active">

            <div class="attribute-controls">
                {{#if @root.editable}}
                    {{#unless attr.prerequisite}}
                        <a data-action="prerequisite-control" data-type="add-child-prerequisite"
                           data-path="{{path}}.prerequisite" title="add child prerequisite"><i class="fas fa-plus"></i></a>
                    {{/unless}}
                    {{#unless attr.parentPrerequisite}}
                        <a data-action="prerequisite-control" data-type="add-child-prerequisite"
                           data-path="{{path}}.parentPrerequisite" title="add parent prerequisite"><i class="fas fa-plus"></i></a>
                    {{/unless}}
                    <a data-attribute-id="{{key}}"><i class="fas fa-trash"></i></a>
                {{/if}}
            </div>
        </div>
        <div>
            {{log attr}}
            {{> 'systems/swse/templates/item/parts/prerequisite.hbs' prerequisite=attr.prerequisite path=(concat path '.prerequisite') hideAdd=true}}
        </div>
        <div>
            {{> 'systems/swse/templates/item/parts/prerequisite.hbs' prerequisite=attr.parentPrerequisite path=(concat path '.parentPrerequisite') hideAdd=true titleOverride='<div title="prerequisites that are checked against the owning actor">Parent Prerequisite:</div>'}}
        </div>
    </div>
</li>