<!--GENERATED ATTRIBUTES-->
{{#if item.generatedAttributes}}
    <h3>Generated Attributes</h3>
    <ul>
    {{#each item.generatedAttributes as |attr key|}}
        <li class="attribute flexrow" data-attribute="{{key}}">
            <label class="attribute-key" type="text" name="data.attributes.{{key}}.key"
                   value="{{key}}">{{attr.key}}</label>
            <div class="attribute-value">{{attr.value}}</div>
        </li>
    {{/each}}
    </ul>
{{/if}}