<div class="level-body">
    <nav class="level-tabs tabs" data-group="levels">
        {{#if item.system}}
            {{#each item.system.levels as |levelDef id|}}
                {{#if levelDef.level}}
                    <a class="item level-tab" data-tab="{{id}}">{{id}}</a>
                {{/if}}
            {{/each}}
        {{else}}

            {{#each item._source.system.levels as |levelDef id|}}
                {{#if levelDef.level}}
                    <a class="item level-tab" data-tab="{{id}}">{{id}}</a>
                {{/if}}
            {{/each}}
        {{/if}}
        <a data-type="add-level" data-action="class-control" title="Add Level"><i class="fas fa-plus"></i></a>
        <a data-type="remove-level" data-action="class-control" title="Subtract Level"><i class="fas fa-minus"></i></a>
    </nav>
    <section class="level-content">
        {{#if item.system}}
            {{#each item.system.levels as |level id|}}
            <div class="tab" data-group="levels" data-tab="{{id}}">
                <h2>Level {{id}}</h2>
                {{log level}}
                {{> 'systems/swse/templates/item/parts/attributes.hbs' attributes=level.data.attributes level=id path=(concat 'levels.' id '.data.attributes')}}
            </div>
            {{/each}}
        {{else}}
            {{#each item._source.system.levels as |level id|}}
                <div class="tab" data-group="levels" data-tab="{{id}}">
                    <h2>Level {{id}}</h2>
                    {{> 'systems/swse/templates/item/parts/attributes.hbs' attributes=level.data.attributes level=id path=(concat 'levels.' id '.data.attributes')}}
                </div>
            {{/each}}
        {{/if}}
    </section>
</div>