{{#if mode}}
    <li class="flexcol" data-mode="{{mkey}}">
        <div class="mode flexrow">
            <label class="mode-name" type="text" name="{{modePath}}.name" value="{{mode.name}}">{{mode.name}}</label>
            {{#if mode.group}}
                <label class="mode-group" type="text" name="{{modePath}}.group" value="{{mode.group}}"
                       title="modes in groups are exclusive to each other">Group: {{mode.group}}</label>
            {{/if}}
            <!--          <label class="attribute-value" type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="{{attr.type}}"></label>-->
            <a class="attribute-delete" data-mode-id="{{mkey}}" data-level="{{level}}"><i class="fas fa-trash"></i></a>
        </div>
        <div>
            <ul>
                {{#each mode.attributes as |attr akey|}}
                    {{#if attr}}
                        <li class="attribute flexrow">
                            <div class="attribute-indent-graphic">|</div>
                            <label class="attribute-indent-key" type="text"
                                   name="{{../modePath}}.attributes.{{akey}}.key" value="{{key}}">{{attr.key}}</label>
                            <input class="attribute-indent-value" name="{{../modePath}}.attributes.{{akey}}.value"
                                   type="text" value="{{attr.value}}" placeholder="" title=""/>
                            <!--          <label class="attribute-value" type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="{{attr.type}}"></label>-->
                            <input class="attribute-override" name="{{../modePath}}.attributes.{{akey}}.override" type="checkbox" {{#if attr.override}}checked{{/if}} title="attributes with this enabled will override other attributes by the same name rather than both being active">

                            <a class="attribute-delete" data-mode-id="{{../mkey}}" data-attribute-id="{{akey}}" data-level="{{level}}"><i
                                    class="fas fa-trash"></i></a>
                        </li>
                    {{/if}}
                {{/each}}
                {{#if active}}
                    <li class="attribute flexrow subtle"><a class="attribute-add attribute-indent-graphic"
                                                            data-mode-id="{{mkey}}" data-level="{{level}}"><i class="fas fa-plus"></i> add a
                        new attribute to this mode.</a></li>
                {{/if}}
                {{#unlessEquals depth 2}}

                    {{#if active}}
                        <li class="attribute flexrow subtle"><a class="mode-add attribute-indent-graphic"
                                                                data-mode-id="{{mkey}}" data-level="{{level}}"><i class="fas fa-plus"></i> add
                            a new mode to this mode.</a></li>
                    {{/if}}
                    {{#each mode.modes as |subMode subMkey|}}
                        {{> 'systems/swse/templates/item/parts/mode.hbs' mode=subMode mkey=(concat ../mkey "." subMkey) depth=2 modePath=(concat ../modePath '.modes.' subMkey active=active level=level)}}
                    {{/each}}
                {{/unlessEquals}}
            </ul>
        </div>
    </li>
{{/if}}