{{#if modifier}}
    <div class="flex flex-row">
        <div>{{#if titleOverride}}{{{titleOverride}}}{{else}}Modifier:{{/if}}</div>
        <label>
            <input type="text" value="{{modifier}}" name="{{path}}">
        </label>
        {{#if @root.editable}}
            <a data-action="modifier-control" data-type="remove-this-modifier" data-path="{{path}}"><i
                    class="fas fa-trash"></i></a>
        {{/if}}
    </div>
{{/if}}