<li class="effect-change change flexcol collapsible-container" data-index="{{#if inherited}}inherited~{{/if}}{{index}}">
    <div style="width:100%" class="flexrow">
        <div class="key">
            <input class="direct" type="text" {{#if inherited}}disabled{{else}}name="changes.{{index}}.key"{{/if}} value="{{change.key}}"/>
        </div>
        <div class="value">
            <input class="direct" type="text" {{#if inherited}}disabled{{else}}name="changes.{{index}}.value"{{/if}} value="{{change.value}}"/>
        </div>
        <div class="change-controls">
            <a class="change-control collapse-toggle" data-action="more"><i class="fas fa-plus"></i></a>
            <a class="change-control {{#if inherited}}disabled{{/if}}" {{#unless inherited}}data-action="change-control" data-action-type="delete"{{/unless}} data-index="{{#if inherited}}inherited~{{/if}}{{index}}"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    <div style="display: none" class="collapsible">butts</div>
</li>