<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="flex flex-col">
            <div class="flex flex-row">
                <div>
                    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"
                         alt="{{item.name}}"/>
                </div>
                <div class="header-fields flex-grow">
                    <div class="flex flex-row">
                        <div>
                            <h1 class="charname"><label>
                                <input name="name" type="text" value="{{item.baseName}}" placeholder="Name"/>
                            </label></h1>
                        </div>
                        <div>
                            <a data-action="to-chat"
                               data-action-item="{{item.id}}" data-actor-id="{{#if item.parent}}{{item.parent.id}}{{/if}}" data-action-compendium="{{item.pack}}"
                               title="Share"><i
                                    class="fas fa-share"></i></a>
                        </div>
                    </div>

                    <div class="flex flex-row">
                        <div class="flex-grow resource">
                            <label class="resource-label">Type</label><br/>
                            <label>
                                <select name="type">
                                    {{#select item.type}}
                                        {{{options 'type'}}}
                                    {{/select}}
                                </select>
                            </label>
                        </div>
                        <div class="flex-grow resource">
                            <label class="resource-label">Subtype</label><br/>
                            <label>
                                <select name="system.subtype">
                                    {{#if item.system}}
                                        {{#select item.system.subtype}}
                                            {{{options 'subtype' item.type}}}
                                        {{/select}}
                                    {{else}}
                                        {{#select item._source.system.subtype}}
                                            {{{options 'subtype' item.type}}}
                                        {{/select}}
                                    {{/if}}
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="summary">Summary</a>
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="provided">Provided</a>
        {{#if item.hasPrerequisites}}<a class="item" data-tab="prerequisites">Prerequisites</a>{{/if}}
        {{#if item.strippable}}<a class="item" data-tab="stripping">Stripping</a>{{/if}}
        {{#if item.modifiable}}<a class="item" data-tab="modifications">Modifications</a>{{/if}}
        {{#if item.hasLevels}}<a class="item" data-tab="levels">Levels</a>{{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="summary">
            {{> 'systems/swse/templates/item/parts/summary.hbs'}}
        </div>

        {{!-- Stripping Tab --}}
        <div class="tab stripping" data-group="primary" data-tab="stripping">
            <div class="resource flex-group-center">
                <label class="resource-label">Upgrade Points: </label>
                <label class="attribute-value">{{system.upgradePoints}}</label>
                <table>
                    {{#each system.stripping as |stripping id|}}
                        {{#if stripping.enabled}}
                            <tr>
                                <th><label>{{stripping.label}}</label></th>
                                {{#ifEquals stripping.type "boolean"}}
                                    <td><label class="attribute-value checkbox">
                                        <input type="checkbox" name="system.stripping.{{id}}.value" {{checked
                                                stripping.value}}/></label>
                                    </td>
                                {{/ifEquals}}
                                {{#ifEquals stripping.type "number"}}
                                    <td>
                                        <div class="value grid grid-3col">
                                            <div><a class="item-control value-minus"
                                                    name="system.stripping.{{id}}.value" data-low="{{stripping.low}}"><i
                                                    class="fas fa-minus"></i></a></div>

                                            <div><label class="attribute-value checkbox">
                                                <input class="value" type="number"
                                                       name="system.stripping.{{id}}.value"
                                                       value="{{stripping.value}}">
                                            </label></div>

                                            <div><a class="item-control value-plus"
                                                    name="system.stripping.{{id}}.value" data-high="{{stripping.high}}"><i
                                                    class="fas fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                {{/ifEquals}}
                            </tr>
                        {{/if}}
                    {{/each}}
                </table>
            </div>
        </div>

        {{!-- Modifications Tab --}}
        <div class="tab items" data-group="primary" data-tab="modifications">
            <div class="resource flex-group-center">
                <label class="resource-label">Upgrade Points: </label>
                <label class="attribute-value">{{item.system.upgradePoints}}</label>
            </div>
            <ol class="items-list">
                {{#each item.system.items as |modification id|}}
                    <li class="item flexrow draggable" data-item-id="{{modification._id}}">
                        <div class="item-image"><img src="{{modification.img}}" title="{{modification.name}}" width="24" height="24"/>
                        </div>
                        <h4 class="item-name">{{modification.name}}</h4>
                        <div class="item-controls">
                            <a data-action="view" class="item-control" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
            </ol>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{> 'systems/swse/templates/item/parts/attributes.hbs' system=item.system item=item path='attributes'}}
        </div>

        {{!-- Provided Tab --}}
        <div class="tab" data-group="primary" data-tab="provided">
            {{> 'systems/swse/templates/item/parts/providedItems.hbs'}}
        </div>

        {{!-- Prerequisites Tab --}}
        <div class="tab" data-group="primary" data-tab="prerequisites">
            {{> 'systems/swse/templates/item/parts/prerequisite.hbs' prerequisite=item._source.system.prerequisite path=(concat 'prerequisite')}}

        </div>


        {{!-- Levels Tab --}}
        <div class="tab" data-group="primary" data-tab="levels">
            {{> 'systems/swse/templates/item/parts/levels.hbs'}}
        </div>
    </section>
</form>
