<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="flex flex-col">
            <div class="flex flex-row">
                <div>
                    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"
                         alt="{{item.name}}"/>
                </div>
                <div class="header-fields flex-grow">
                    <h1 class="charname"><label>
                        <input name="name" type="text" value="{{item.baseName}}" placeholder="Name"/>
                    </label></h1>

                    <div class="flex flex-row">
                        <div class="flex-grow resource">
                            <label class="resource-label">Type</label><br/>
                            <label>
                                <select name="type">
                                    {{#select item.data.type}}
                                        {{{options 'type'}}}
                                    {{/select}}
                                </select>
                            </label>
                        </div>
                        <div class="flex-grow resource">
                            <label class="resource-label">Subtype</label><br/>
                            <label>
                                <select name="data.subtype">
                                    {{#if item.data.data}}
                                        {{#select item.data.data.subtype}}
                                            {{{options 'subtype' item.data.type}}}
                                        {{/select}}
                                    {{else}}
                                        {{#select item.data._source.data.subtype}}
                                            {{{options 'subtype' item.data.type}}}
                                        {{/select}}
                                    {{/if}}
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="summary">Summary</a>
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="provided">Provided</a>
        <a class="item" data-tab="stripping">Stripping</a>
        <a class="item" data-tab="modifications">Modifications</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="summary">
            {{log data}}
            {{#if data.data}}
                {{editor content=data.data.description target="data.data.description" button=true owner=owner
                         editable=editable}}
            {{else}}
                {{{item.data._source.data.description}}}
            {{/if}}
        </div>

        {{!-- Stripping Tab --}}
        <div class="tab stripping" data-group="primary" data-tab="stripping">
            <div class="resource flex-group-center">
                <label class="resource-label">Upgrade Points: </label>
                <label class="attribute-value">{{data.data.upgradePoints}}</label>
                <table>
                    {{#each data.data.stripping as |stripping id|}}
                        {{#if stripping.enabled}}
                            <tr>
                                <th><label>{{stripping.label}}</label></th>
                                {{#ifEquals stripping.type "boolean"}}
                                    <td><label class="attribute-value checkbox">
                                        <input type="checkbox" name="data.stripping.{{id}}.value" {{checked
                                                stripping.value}}/></label>
                                    </td>
                                {{/ifEquals}}
                                {{#ifEquals stripping.type "number"}}
                                    <td>
                                        <div class="value grid grid-3col">
                                            <div><a class="item-control value-minus"
                                                    name="data.stripping.{{id}}.value" data-low="{{stripping.low}}"><i
                                                    class="fas fa-minus"></i></a></div>

                                            <div><label class="attribute-value checkbox">
                                                <input class="value" type="number"
                                                       name="data.stripping.{{id}}.value"
                                                       value="{{stripping.value}}">
                                            </label></div>

                                            <div><a class="item-control value-plus"
                                                    name="data.stripping.{{id}}.value" data-high="{{stripping.high}}"><i
                                                    class="fas fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                {{/ifEquals}}
                            </tr>
                        {{/if}}
                    {{/each}}
                </table>
            </div>
        </div>

        {{!-- Modifications Tab --}}
        <div class="tab items" data-group="primary" data-tab="modifications">
            <div class="resource flex-group-center">
                <label class="resource-label">Upgrade Points: </label>
                <label class="attribute-value">{{data.data.upgradePoints}}</label>
            </div>
            <ol class="items-list">
                {{#each data.data.items as |item id|}}
                    <li class="item flexrow draggable" data-item-id="{{item._id}}">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        </div>
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-controls">
                            <a data-action="view" class="item-control" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
            </ol>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{> 'systems/swse/templates/item/parts/attributes.hbs'}}

        </div>

        {{!-- Provided Tab --}}
        <div class="tab" data-group="primary" data-tab="provided">
            {{> 'systems/swse/templates/item/parts/provided.hbs'}}
        </div>
    </section>
</form>
